<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="big-block">
      <h4>contact us</h4>
      <p>It is a long established fact that a man have done.</p>
      <p>It is a long established fact that a man have done.</p>
      <p>It is a long established fact that a man have done.</p>
      <p>It is a long established fact that a man have done.</p>
      <p>It is a long established fact that a man have done.</p>
      <p>It is a long established fact that a man have done.</p>
    </div>

    <footer>
      <div class="footer-div">
        <p>one</p>
        first
      </div>
      <div class="footer-div">
        <p>two</p>
        second
      </div>
      <div class="footer-div">
        <p>three</p>
        third
      </div>
    </footer>
  </body>
</html>
