<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div>
      <div class="big-block">
        <img src="./img/3.jpeg" alt="" />
        <h4 style="color: white">world</h4>
        <p style="color: white">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt
          suscipit adipisci ex earum qui accusantium? Quibusdam, dolore debitis!
          Placeat rerum maxime sint repudiandae quos ex assumenda ratione
          temporibus doloremque molestias.
        </p>
      </div>

      </div>
    </div>

    <footer>
      <div class="footer-div">
        <p>one</p>
        first
      </div>
      <div class="footer-div">
        <p>two</p>
        second
      </div>
      <div class="footer-div">
        <p>three</p>
        third
      </div>
    </footer>
  </body>
</html>
